<h1>URL LIST HERE</h1>

<% @urls.each do |url| %>

  <ul>
    <p>id:<%= url.id %></p>
    <p>Description: <%= url.description %></p>
    <p>Long URL: <%= url.long_url %></p>
    <p>Shorten URL:<%= link_to "#{@domain}/#{url.short_url}", url.long_url%></p>
    <div>
      <%= form_for url, url: url_path(url), method: :delete do |f| %>
        <%= f.submit 'delete' %>
      <% end %>
    </div>
  </ul>

<% end %>

<p><%= link_to 'Create URL', new_url_path %></p>